<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>스크립트 기본문법</title>
</head>
<body>
  <pre>
    basic script grammer
  </pre>

<button id="btn">click</button>
    <span id="result">result space</span>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $('#btn').click(function(){
          window.alert("event alert")
          $('#result')
          .empty()
          .html("<font color='red'>데이터 변경 </font>")
        })
      })

      var spanObj = document.getElementById('result');
      spanObj.textContent = '기본 스트립트를 이용한 요소 접근';

      var testObj = {'key':'value}

      //json 형식
      var testlst = [{'key':'value},{'key':'value},{'key':'value}]
    </script>
</body>
</html>